.cache
.mimosa
dist
node_modules
release
packages/desktop-plugin/client.js
packages/desktop-plugin/index.d.ts
packages/desktop-plugin/index.js
packages/anchored-standard-plugin/index.d.ts
packages/anchored-standard-plugin/index.js
pnpm-lock.yaml
